<ion-app>
  <ion-content mode="ios">
    <div class="header">
      <h5>Nouveau patient</h5>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </div>
    <div></div>
    <div class="flex">
      <div class="border-blue">
        <div class="border-white">
          <div class="img-box">
            <img
              [src]="base64"
              onerror="this.onerror=null;this.src='assets/123.jpg';"
            />
          </div>
        </div>
      </div>
      <div class="flex1">
        <div class="border-blue1">
          <div class="border-white1">
            <div class="img-box1">
              <div class="cam">
                <ion-icon
                  (click)="pickImageFromGallery()"
                  color="dark"
                  name="camera"
                  style="margin-left: 4.5px; margin-top: -2px"
                ></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div></div>
    <ion-card>
      <ion-item>
        <ion-label position="stacked" class="text"
          >CIN <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input placeholder="réponse courte"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked" class="text"
          >Nom & Prénom<ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input placeholder="réponse courte"></ion-input> </ion-item
    ></ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="stacked" class="text"
          >Numéro de téléphone</ion-label
        >
        <ion-input placeholder="réponse courte"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" class="text">Adresse mail</ion-label>
        <ion-input placeholder="réponse courte"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="stacked" class="text">Sexe</ion-label>

        <ion-item> <ion-checkbox color="primary"></ion-checkbox>Femme</ion-item>
        <ion-item lines="none">
          <ion-checkbox color="primary"></ion-checkbox>Homme</ion-item
        >
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item id="open-modal" lines="none">
        <ion-icon
          icon="calendar-outline"
          slot="start"
          color="primary"
        ></ion-icon>
        <ion-label
          ><ion-text class="date"
            >Date de naissance<ion-text color="danger">*</ion-text></ion-text
          ></ion-label
        >
        <ion-text slot="end">{{ formattedString }}</ion-text>
      </ion-item>
      <ion-modal trigger="open-modal" mode="md">
        <ng-template>
          <ion-content>
            <ion-datetime
              #date
              [value]="dateValue"
              size="cover"
              (ionChange)="dateChanged(date.value)"
              showDefaultButtons="true"
              (ionCancel)="showPicker = false"
            ></ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="stacked" class="text"
          >Antécédents cardio-vasculaires<ion-text color="danger"
            >*</ion-text
          ></ion-label
        >

        <ion-item lines="none">
          <ion-checkbox color="primary" mode="md"></ion-checkbox
          ><ion-text class="espace">HTA</ion-text></ion-item
        >
        <ion-item lines="none">
          <ion-checkbox color="primary" mode="md"></ion-checkbox
          ><ion-text class="espace">Dyslipidémie</ion-text></ion-item
        >
        <ion-item lines="none">
          <ion-checkbox color="primary" mode="md"></ion-checkbox
          ><ion-text class="espace">Tabac</ion-text></ion-item
        >
        <ion-item lines="none">
          <ion-checkbox color="primary" mode="md"></ion-checkbox
          ><ion-text class="espace">Cancer</ion-text></ion-item
        >

        <ion-item lines="none">
          <ion-checkbox color="primary" mode="md"></ion-checkbox
          ><ion-text class="espace">Diabète</ion-text></ion-item
        >
      </ion-item>
    </ion-card>
    <ion-button
      color="primary"
      fill="outline"
      class="valider"
      size="large"
      expand="block"
      (click)="ajouter()"
      >Valider</ion-button
    >
    <!-- EDit -->
  </ion-content>
</ion-app>
