<!-- ya mariem rak bsh dji text mn table avisExpert -->
<div class="avis ion-margin ion-padding">
  <div><ion-label class="avisExpert ion-margin">avis expert :</ion-label></div>
  <div class="text">
    <div class="ion-margin">
      <ion-label class="oeil">Oeil Droite :</ion-label
      ><ion-text class="ion-margin">saine</ion-text>
    </div>
    <div class="ion-margin">
      <ion-label class="oeil">Oeil Gauche :</ion-label
      ><ion-text class="ion-margin">Diabète </ion-text>
    </div>
  </div>
</div>
