<ion-app class="content">
  <ion-header class="ion-no-border">
    <ion-toolbar class="border-radius-bottom">
      <div class="flex-bloc">
        <ion-buttons slot="start">
          <ion-header [translucent]="true">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-menu-button menu="main-menu"></ion-menu-button>
              </ion-buttons> </ion-toolbar
          ></ion-header>
        </ion-buttons>

        <ion-avatar slot="end" class="ion-margin avatar">
          <img src="assets/fatma.jpg" />
        </ion-avatar>
      </div>
    </ion-toolbar>
    <ion-searchbar
      *ngIf="ConsultationMedService.consultation.length !== 0"
      class="searchBar ion-padding"
      placeholder="cherchez un patient"
    ></ion-searchbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let item of ConsultationMedService.consultation">
      <img class="image" [src]="item.imgMedical" />
      <ion-item lines="none" *ngIf="!item.isExpert">
        <!-- <ion-col class="ion-margin"> -->
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="editConsultation()"
            ><ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button color="primary" (click)="suppConsultation()"
            ><ion-icon name="trash"></ion-icon>
          </ion-button> </ion-buttons
      ></ion-item>
      <ion-item lines="none" *ngIf="item.isExpert">
        <!-- <ion-col class="ion-margin"> -->
        <ion-text slot="end" color="gris">Médecin généraliste :</ion-text
        ><ion-text slot="end" color="primary">Dr hela chelli</ion-text>
      </ion-item>
      <ion-card-header>
        <ion-card-subtitle>Patient,</ion-card-subtitle>

        <ion-card-title>{{ item.Nameusers }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="droite">
          <ion-text color="primary">oeil droite :</ion-text> {{ item.AImodelD }}
        </div>
        <div class="gauche">
          <ion-text color="primary">oeil gauche :</ion-text> {{ item.AImodelG }}
        </div>
        <br />
        <ion-col>
          <div class="date">
            <ion-icon name="calendar-outline" class="calendar"> </ion-icon>
            {{ item.date }}
          </div>
        </ion-col>
        <ion-col class="flex-bloc">
          <div *ngIf="item.avisExpert">
            <ion-icon name="ellipse-sharp" color="success"></ion-icon>
          </div>
          <div *ngIf="item.avisExpert === false">
            <ion-icon name="ellipse-sharp" color="Medium"></ion-icon>
          </div>
          <div class="details">
            <ion-button
              slot="start"
              fill="outline"
              shape="round"
              (click)="openDetail()"
              >Details</ion-button
            >
          </div>
        </ion-col>
      </ion-card-content>

      <app-stars-rating
        *ngIf="item.isExpert"
        (shareRatingValue)="showRating($event)"
      ></app-stars-rating>
      <br />

      <h4 *ngIf="currentRatingValue">
        <!-- The value selected from the stars component is
        <h2>{{ currentRatingValue }}</h2> -->
      </h4>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-fab-button color="primary" (click)="newConsultation()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-footer>
</ion-app>
