<div class="avis ion-padding">
  <div>
    <ion-label class="avisExpert ion-margin">Donnez un avis</ion-label>
  </div>
  <div class="ion-margin">
    <ion-item class="maldie">
      <ion-label>choisissez une maladie</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="nes">NES</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Gravité</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="nes">NES</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-item class="ion-padding">
    <ion-icon name="trash" slot="end" color="primary"></ion-icon>
    <ion-icon name="create-outline" slot="end" color="primary"></ion-icon>
    <ion-label position="floating commentaire"
      >ajoutez un commentaire</ion-label
    >
    <ion-input></ion-input>
  </ion-item>
  <ion-button fill="outline">valider </ion-button>
</div>
