<div class="avis ion-padding ion-margin">
  <div>
    <ion-label class="avisExpert ion-margin">Donnez un avis</ion-label>
  </div>
  <div class="ion-margin">
    <ion-item class="itemborder">
      <ion-label class="comments">choisissez une maladie</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="nes">Diabète </ion-select-option>
        <ion-select-option value="nes1">rhétinopathie </ion-select-option>
        <ion-select-option value="nes2">surtension </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="itemborder" lines="none">
      <ion-label class="comments">Gravité</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="nes">1</ion-select-option>
        <ion-select-option value="nes1">2</ion-select-option>
        <ion-select-option value="nes2">3</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-item class="itemborder">
    <ion-item>
      <ion-textarea placeholder="Ajouter un commentaire..."></ion-textarea>
    </ion-item>
  </ion-item>
</div>
<div class="div">
  <ion-button size="Medium" class="ion-margin" disabled="true"
    >valider
  </ion-button>
</div>
