.loading-message {
  width: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;

  font-size: 125%;
  bottom: -5px;
  background: -webkit-linear-gradient(#63a3e9, #887389);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content {
  width: 100%;
  margin-top: 15%;
}
