* {
  font-family: lato;
}
.menu-header-bg {
  height: 180px;
  width: 350px;
  background: #3e64ff;
  background: linear-gradient(99deg, #3e64ff 0%, #3e64ff 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  border-radius: 10px;
}
.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #5e7ccc;
    margin-right: 14px;
  }
  h2 {
    font-weight: 300;
    color: #ffffff;
  }
  p {
    font-size: 18px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
  }
}
.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: #86979f;
  }
  ion-item {
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .active {
    border-left: 5px solid;
    color: #3e64ff;
    padding-left: 15px;
    ion-icon {
      color: #3e64ff;
    }
  }
  .logout {
    margin-top: 242px;

    background: #3e64ff;
  }
}
