<div class="login-form ion-padding">
  <form (ngSubmit)="signup(f)" #f="ngForm">
    <div class="form-input">
      <ion-icon color="primary" name="person-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">Nom & Prenom </ion-label>
        <ion-input
          type="text"
          required
          id="nomPrenom"
          ngModel
          name="nomPrenom"
          #username="ngModel"
        ></ion-input>
      </ion-item>
      <ion-icon color="primary" name="person-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">Nom Utilisateur </ion-label>
        <ion-input
          type="text"
          required
          id="username"
          ngModel
          name="username"
          #username="ngModel"
        ></ion-input>
      </ion-item>
      <span style="color: red" *ngIf="!username.valid && username.touched"
        >Entrer username
      </span>
    </div>
    <div class="form-input">
      <ion-icon color="primary" name="mail-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">Adresse e-mail</ion-label>
        <ion-input
          id="email"
          ngModel
          name="email"
          #email="ngModel"
          type="email"
          required
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        ></ion-input>
      </ion-item>
      <span style="color: red" *ngIf="!email.valid && email.touched"
        >Entrer email
      </span>
    </div>
    <div class="form-input">
      <ion-icon color="primary" name="call-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">numéro de Téléphone</ion-label>
        <ion-input
          required
          id="telephone"
          ngModel
          name="telephone"
          #telephone="ngModel"
          pattern="^((\\+91-?)|0)?[0-8]{8}$"
          maxlength="10"
        ></ion-input>
      </ion-item>
      <span style="color: red" *ngIf="!telephone.valid && telephone.touched"
        >Entrer Téléphone
      </span>
    </div>
    <div class="form-input">
      <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input
          id="password"
          ngModel
          name="password"
          #password="ngModel"
          type="password"
          required
          maxlength="10"
        ></ion-input>
        <span style="color: red" *ngIf="!password.valid && password.touched"
          >Entrer password
        </span>
      </ion-item>
    </div>
    <!-- <div class="form-input">
    <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
    <ion-item>
      <ion-label position="floating">Confirmer mot de passe</ion-label>
      <ion-input type="password" required maxlength="10"></ion-input>
    </ion-item>
  </div> -->

    <ion-item lines="none">
      <ion-radio-group id="gender" ngModel name="gender" #gender="ngModel">
        <ion-list-header>
          <ion-label>Sexe</ion-label>
        </ion-list-header>

        <ion-item lines="none">
          <ion-label color="primary1">femme</ion-label>
          <ion-radio slot="start" value="femme"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary1">homme</ion-label>
          <ion-radio slot="start" value="homme"></ion-radio>
        </ion-item> </ion-radio-group
    ></ion-item>
    <ion-item>
      <ion-label>Specialité</ion-label>
      <ion-select
        interface="popover"
        id="specialite"
        ngModel
        name="specialite"
        #specialite="ngModel"
      >
        <ion-select-option value="Médecin génèraliste"
          >Médecin génèraliste</ion-select-option
        >
        <ion-select-option value="endocrinologue"
          >endocrinologue</ion-select-option
        >
        <ion-select-option value="Cardiologue">Cardiologue</ion-select-option>
      </ion-select>
    </ion-item>
    <span style="color: red" *ngIf="!specialite.valid && specialite.touched"
      >Entrer username
    </span>
    <br />
    <div class="action-buttons ion-padding">
      <ion-button
        #btn
        size="medium"
        fill="outline"
        shape="round"
        class="login-button"
        type="submit"
        [disabled]="!f.valid"
        >Valider</ion-button
      >
    </div>
  </form>
  <br /><br />
  <!-- <ion-button
    class="signup-button"
    size="large"
    fill="outline"
    shape="round"
    routerLink=""
    ><img src="https://img.icons8.com/fluency/35/000000/facebook-new.png" />
  </ion-button>
  <ion-button
    class="signup-button"
    size="large"
    fill="outline"
    shape="round"
    routerLink=""
    ><img src="https://img.icons8.com/color/35/000000/gmail-new.png" />
  </ion-button> -->

  <ion-text>Vous avez déjà un compte ?</ion-text
  ><a routerLink="/login">cliquez ici</a>
</div>
