<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar
      color="primary"
      style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px"
    >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-avatar
        *ngIf="ConsultationMedService.consultation_id.isExpert"
        slot="end"
        class="ion-margin avatar"
      >
        <img src="assets/mama.jpg"
      /></ion-avatar>
      <ion-avatar
        *ngIf="!ConsultationMedService.consultation_id.isExpert"
        slot="end"
        class="ion-margin avatar"
      >
        <img src="assets/fatma.jpg"
      /></ion-avatar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ ConsultationMedService.consultation_id.url }}" />
      </ion-avatar>
      <ion-label>
        <p>Patient,</p>
        <h3>{{ ConsultationMedService.consultation_id.name }},</h3>
      </ion-label>
      <ion-icon
        class="calendar"
        name="calendar-outline"
        color="gris"
      ></ion-icon>
      <h4>{{ ConsultationMedService.consultation_id.dateConslt }}</h4>
    </ion-item>
    <!-- si je confirme pour l'avis d'un expert un ion-progress bar is here -->

    <ion-list class="details">
      <!-- <div class="header"> -->
      <ion-item color="couleurbase" class="item1">
        <ion-icon name="transgender" color="primary"></ion-icon>
        <h3>{{ ConsultationMedService.consultation_id.sexe }}</h3></ion-item
      >

      <ion-item color="couleurbase">
        <ion-icon name="call" color="primary"></ion-icon>

        <h3>{{ ConsultationMedService.consultation_id.num }}</h3>
      </ion-item>

      <ion-item color="couleurbase">
        <ion-icon name="calendar-outline" color="primary"></ion-icon>
        <h3>
          {{ ConsultationMedService.consultation_id.dateNaiss }}
        </h3></ion-item
      >

      <ion-item lines="none" color="couleurbase" class="item4">
        <ion-icon name="medkit" color="primary"></ion-icon>
        <h3>{{ ConsultationMedService.consultation_id.antecedent }}</h3>
      </ion-item></ion-list
    >
    <!-- </div> -->

    <div class="segment">
      <ion-segment
        mode="ios"
        [(ngModel)]="segment"
        color="primary"
        (ionChange)="segmentChanged($event)"
      >
        <ion-segment-button value="droite" (click)="droite()"
          ><ion-icon name="eye-outline" color="favorites"></ion-icon
          ><ion-text color="favorites"> Oeil Droite</ion-text>
        </ion-segment-button>
        <ion-segment-button value="gauche" (click)="gauche()">
          <ion-icon name="eye-outline" color="favorites"></ion-icon>
          <ion-text color="favorites">
            Oeil Gauche</ion-text
          ></ion-segment-button
        >
      </ion-segment>
    </div>
    <br />
    <ion-card class="cardfull">
      <swiper
        [config]="config"
        class="swiper-slide"
        data-swiper-autoplay="2000"
      >
        <ng-template
          swiperSlide
          *ngFor="let imge of photoService.photos; let i = index"
        >
          <img
            [src]="imge.webviewPath"
            onerror="this.src='assets/add.jpg'"
            alt="alternative"
            tappable
            (click)="ConsultationMedService.openPreview(imge.webviewPath)"
          />
        </ng-template>
      </swiper>
    </ion-card>
    <div class="details">
      <h5>AI Résultat</h5>
      <h6>
        <ion-text color="primary">Maladie : </ion-text>
        Oeil Droite :{{
          ConsultationMedService.consultation_id.oeil_droiteAI.maladie
        }}
      </h6>
      <ion-text color="primary">Gravitè :</ion-text>
      {{ ConsultationMedService.consultation_id.oeil_droiteAI.gravite }}
    </div>
    <ion-button
      *ngIf="
        ConsultationMedService.consultation_id.avisExpert === false &&
        DemandeAvis === false &&
        !ConsultationMedService.consultation_id.isExpert
      "
      color="primary"
      expand="block"
      shape="round"
      size="large"
      class="AvisExpert"
      (click)="DemanderAvis()"
      [disabled]="
        ConsultationMedService.consultation_id.avisExpert === false &&
        ConsultationMedService.consultation_id.DemandeAvis === true
      "
      >Avis Expert</ion-button
    >

    <div
      *ngIf="
        (!ConsultationMedService.consultation_id.isExpert &&
          ConsultationMedService.consultation_id.avisExpert === true) ||
        DemandeAvis === true
      "
    >
      <app-avis-expert></app-avis-expert>
    </div>
    <div
      *ngIf="
        ConsultationMedService.consultation_id.isExpert === true &&
        ConsultationMedService.consultation_id.avisExpert === false
      "
    >
      <app-expert-consultation></app-expert-consultation>
    </div>
    <div
      *ngIf="
        ConsultationMedService.consultation_id.isExpert === true &&
        ConsultationMedService.consultation_id.avisExpert === true
      "
    >
      <app-toast></app-toast>
    </div>
  </ion-content>
</ion-app>
