<div *ngIf="!isLoadingAI">
  <div class="ajouterdelet">
    <ion-button
      *ngIf="photoService.photos.length <= 4; else thenBlock"
      fill="solid"
      color="primary"
      (click)="photoService.addNewToGallery()"
      ><ion-icon name="add-outline"></ion-icon
    ></ion-button>
    <ng-template #thenBlock>
      <ion-button fill="solid" color="primary" (click)="presentToast()"
        >+</ion-button
      ></ng-template
    >
  </div>
  <div>
    <ion-card class="cardfull">
      <div *ngIf="photoService.photos.length === 0">
        <img [src]="'assets/add.jpg'" />
      </div>
      <swiper [config]="config" class="swiper-slide">
        <ng-template
          swiperSlide
          *ngFor="let imge of photoService.photos; let i = index"
        >
          <div class="bouttontrash">
            <ion-button
              fill="outline"
              color="priamry"
              (click)="showActionSheet(imge, i)"
              ><ion-icon name="trash"></ion-icon
            ></ion-button>
          </div>

          <img
            [src]="sanitizer.bypassSecurityTrustUrl(imge.webviewPath)"
            onerror="this.src='assets/add.jpg'"
            alt="alternative"
            tappable
            (click)="ConsultationMedService.openPreview(imge.webviewPath)"
          />
        </ng-template>
      </swiper>
    </ion-card>
  </div>
  <ion-button
    expand="block"
    size="large"
    class="AImodel"
    shape="round"
    (click)="presentLoading()"
    [disabled]="
      photoService.photos.length === 0 ||
      ConsultationMedService.selected_users === null
    "
    >AI Modal</ion-button
  >
</div>
<ion-content *ngIf="isLoadingAI">
  <app-loading-ai></app-loading-ai>
</ion-content>
