<ion-content>
  <!-- rani makmltch  -->
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="profil"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <form (ngSubmit)="modifierProfile(f)" #f="ngForm">
    <ion-grid class="main-header">
      <div align="center">
        <ion-avatar>
          <img src="{{ imagePath }}" /> <br />
          <input
            type="file"
            (change)="onSelectFile($event)"
            class="select-profile-picture custom-file-input"
            accept=".png, .jpg, .jpeg"
          />
        </ion-avatar>
      </div>
    </ion-grid>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-text color="primary">Nom & prenom </ion-text>
          <p>
            <ion-input
              color="dark"
              [ngModel]="user?.nomPrenom"
              id="nomPrenom"
              name="nomPrenom"
            ></ion-input>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> <ion-text color="primary">Gender</ion-text> </ion-label>

        <ion-item lines="none">
          <ion-radio-group
            id="gender"
            ngModel
            name="gender"
            #gender="ngModel"
            [ngModel]="user?.gender"
          >
            <ion-item lines="none">
              <ion-label color="primary1">femme</ion-label>
              <ion-radio slot="start" value="femme"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="primary1">homme</ion-label>
              <ion-radio slot="start" value="homme"></ion-radio>
            </ion-item> </ion-radio-group
        ></ion-item>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary"> Téléphone </ion-text>
          <p>
            <ion-input
              color="dark"
              id="telephone"
              [ngModel]="user?.telephone"
              #telephone="ngModel"
              name="telephone"
            ></ion-input>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary"> Spécialité </ion-text>
        </ion-label>
        <ion-select
          interface="popover"
          id="specialite"
          ngModel
          name="specialite"
          #specialite="ngModel"
        >
          <ion-select-option value="Médecin génèraliste"
            >Médecin génèraliste</ion-select-option
          >
          <ion-select-option value="endocrinologue"
            >endocrinologue</ion-select-option
          >
          <ion-select-option value="Cardiologue">Cardiologue</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div align="center">
      <br /><br /><br /><br />
      <ion-button
        color="gris"
        class="ion-margin ion-padding"
        class="AImodel"
        shape="round"
        type="submit"
        [disabled]="!f.valid"
        >Modifier</ion-button
      >
    </div>
  </form>
</ion-content>
