<ion-content>
  <!-- rani makmltch  -->
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="profil"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <form (ngSubmit)="modifierProfil(f)" #f="ngForm">
    <ion-grid class="main-header">
      <div align="center">
        <ion-icon
          class="edit"
          color="light"
          name="pencil"
          (click)="showActionSheet()"
        ></ion-icon>

        <ion-avatar>
          <img
            id="image"
            name="image"
            [src]="user?.image"
            onerror="this.onerror=null;this.src='assets/123.jpg';"
          />
        </ion-avatar>
      </div>
    </ion-grid>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-text color="primary"> Téléphone </ion-text>
          <p>
            <ion-input
              color="dark"
              id="telephone"
              [ngModel]="user?.telephone"
              #telephone="ngModel"
              name="telephone"
            ></ion-input>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">Gender </ion-text>
          <p>
            <ion-input
              color="dark"
              [ngModel]="user?.gender"
              id="gender"
              name="gender"
            ></ion-input>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <div align="center">
      <br /><br /><br /><br />
      <ion-button
        color="gris"
        class="ion-margin ion-padding"
        class="AImodel"
        shape="round"
        type="submit"
        [disabled]="!f.valid"
        >Modifier</ion-button
      >
    </div>
  </form>
</ion-content>
