.avis {
  background-color: #f5f4f4;
  border-radius: 12px;
}
.avisExpert {
  font-weight: bold;
  font-size: 16px;
  color: #639956;
}
.oeil {
  font-weight: bold;
  font-size: 14px;
}
.itemborder {
  border-radius: 10px;
}
.itemborder2 {
  border-radius: 10px;
}
.comments {
  color: #525050;
  font-size: 14px;
}
.boutton {
  text-align: center;
}
.div {
  text-align: center;
}
