<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar class="border-radius-bottom" color="primary">
      <ion-buttons class="ion-margin"> </ion-buttons>

      <div class="image-cropper">
        <img
          class="rounded"
          src="{{ ConsultationMedService.pic }}"
          onerror="this.onerror=null;this.src='assets/123.jpg';"
        />
      </div>

      <br />
      <ion-item lines="none" class="ion-margin radius" *ngIf="!isLoadingAI">
        <ion-label
          ><ion-text color="new2">choisissez un patient</ion-text>
        </ion-label>
        <ionic-selectable
          [(ngModel)]="ConsultationMedService.selected_users"
          [items]="ConsultationMedService.users"
          itemValueField="id"
          itemTextField="name"
          lines="none"
          style="border-radius: 15px"
          (onChange)="ConsultationMedService.choose()"
        >
          <ng-template ionicSelectableHeaderTemplate>
            <div class="class">
              <ion-buttons>
                <ion-button
                  class="bordered"
                  fill="solid"
                  color="light"
                  shape="round"
                  (click)="dismiss()"
                >
                  <ion-icon name="arrow-back-outline"></ion-icon
                ></ion-button>
              </ion-buttons>
              <ion-searchbar
                mode="ios"
                color="light"
                class="cancel-button-icon"
                placeholder="cherchez un patient"
                style="border-radius: 111px"
                lines="none"
              ></ion-searchbar>
            </div>
          </ng-template>
        </ionic-selectable>

        <ion-button
          fill="outline"
          color="priamry"
          (click)="ConsultationMedService.ajouter_patient()"
        >
          <ion-icon name="person-add-outline" color="primary"></ion-icon
        ></ion-button>
      </ion-item>

      <br />
      <br />
    </ion-toolbar>

    <br />

    <br />
  </ion-header>
  <div class="segment" *ngIf="!isLoadingAI">
    <ion-segment
      mode="ios"
      [(ngModel)]="segment"
      color="primary"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="droite"
        ><ion-icon name="eye-outline" color="favorites"></ion-icon
        ><ion-text color="favorites"> Oeil Droite</ion-text>
      </ion-segment-button>
      <ion-segment-button value="gauche">
        <ion-icon name="eye-outline" color="favorites"></ion-icon>
        <ion-text color="favorites"> Oeil Gauche</ion-text></ion-segment-button
      >
    </ion-segment>
  </div>
  <br />
  <ion-content *ngIf="!isLoadingAI">
    <div class="ajouterdelet">
      <ion-button
        *ngIf="photoService.photos.length <= 4; else thenBlock"
        fill="solid"
        color="primary"
        (click)="photoService.addNewToGallery()"
        ><ion-icon name="add-outline"></ion-icon
      ></ion-button>
      <ng-template #thenBlock>
        <ion-button fill="solid" color="primary" (click)="presentToast()"
          >+</ion-button
        ></ng-template
      >
    </div>
    <div>
      <ion-card class="cardfull">
        <div *ngIf="photoService.photos.length === 0">
          <img [src]="'assets/add.jpg'" />
        </div>
        <swiper [config]="config" class="swiper-slide">
          <ng-template
            swiperSlide
            *ngFor="let imge of photoService.photos; let i = index"
          >
            <div class="bouttontrash">
              <ion-button
                fill="outline"
                color="priamry"
                (click)="showActionSheet(imge, i)"
                ><ion-icon name="trash"></ion-icon
              ></ion-button>
            </div>

            <img
              [src]="sanitizer.bypassSecurityTrustUrl(imge.webviewPath)"
              onerror="this.src='assets/add.jpg'"
              alt="alternative"
              tappable
              (click)="ConsultationMedService.openPreview(imge.webviewPath)"
            />
          </ng-template>
        </swiper>
      </ion-card>
    </div>
    <ion-button
      expand="block"
      size="large"
      class="AImodel"
      shape="round"
      (click)="presentLoading()"
      [disabled]="
        photoService.photos.length === 0 ||
        ConsultationMedService.selected_users === null
      "
      >AI Modal</ion-button
    >
  </ion-content>
  <ion-content *ngIf="isLoadingAI">
    <app-loading-ai></app-loading-ai>
  </ion-content>
</ion-app>
