<div class="avis ion-margin ion-padding">
  <ion-item lines="none" color="aviscolor">
    <div>
      <ion-label class="avisExpert ion-margin">Votre Avis :</ion-label>
    </div>
    <ion-icon
      slot="end"
      name="trash"
      color="primary2"
      (click)="suppAvis()"
    ></ion-icon>
    <!-- suppression bsh yhezni mra okhra l details consultation -->
    <ion-icon
      slot="end"
      name="pencil"
      color="primary2"
      (click)="modifAvis()"
    ></ion-icon>
    <!-- modification bsh yaaml api update yrjaali l hajet l khtrtha  -->
  </ion-item>

  <div class="text">
    <div class="ion-margin">
      <ion-label class="oeil">Oeil Droite :</ion-label
      ><ion-text class="ion-margin"
        >{{ ConsultationMedService.consultation_id.oeil_droite.maladie }}
      </ion-text>

      <ion-text
        >niveau :
        {{
          ConsultationMedService.consultation_id.oeil_droite.gravite
        }}</ion-text
      >
    </div>
    <div class="ion-margin">
      <ion-label class="oeil">Oeil Gauche:</ion-label
      ><ion-text class="ion-margin"
        >{{ ConsultationMedService.consultation_id.oeil_gauche.maladie }}
      </ion-text>

      <ion-text
        >niveau :
        {{
          ConsultationMedService.consultation_id.oeil_gauche.gravite
        }}</ion-text
      >
    </div>
    <div
      *ngIf="
        ConsultationMedService.consultation_id.commentaire.length;
        is: null
      "
    >
      <ion-label class="oeil ion-margin">Commentaire :</ion-label>
      <ion-text>{{
        ConsultationMedService.consultation_id.commentaire
      }}</ion-text>
    </div>
  </div>
</div>
