.avis {
  background-color: #f5f4f4;
  border-radius: 12px;
}
.avisExpert {
  font-weight: bold;
  font-size: 20px;
  color: #639956;
}
.oeil {
  font-weight: bold;
  font-size: 14px;
}
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
ion-modal {
  --background: rgba(44, 39, 45, 0.2);
  &::part(content) {
    backdrop-filter: blur(6px);
  }
  ion-content {
    --background: transparent;
    --padding-top: 25vh;
    --padding-start: 20px;
    --padding-end: 20px;
  }
}
ion-item {
  h3 {
    font-weight: 700;
    font-size: 18px;
  }
  h4 {
    font-weight: 600;
    font-size: 20px;
    color: darkgrey;
  }

  p {
    font-weight: 500;
    font-size: 18px;
  }

  ion-avatar {
    --border-radius: 40%;
  }
}
h5 {
  color: darkgray;
  font-size: 18px;
}
.comm {
  font-weight: 600;
  font-size: 15px;
  color: #3880ff;
}
.details {
  ion-icon {
    height: 18px;
    width: 18px;
  }

  h3 {
    font-weight: 400;
    font-size: 18px;
    color: darkgrey;
    margin-left: 5%;
  }
}
