.content {
  background-color: rgb(248, 247, 247);

  .border-radius-bottom {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    // height: 100px;
  }
  ion-toolbar {
    --background: #3e64ff;
    .avatar {
      height: 35px;
      width: 35px;
    }
  }
  .flex-bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }
    h4 {
      font-weight: 600;
      font-size: 13px;
      color: darkgrey;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }

  h5 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
  .details {
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 1px;
    margin-top: 7%;
    margin-bottom: 10%;

    ion-icon {
      height: 15px;
      width: 15px;
    }
    ion-item {
      margin-left: 7%;
      margin-right: 7%;

      h3 {
        font-weight: 400;
        font-size: 15px;
        color: darkgrey;
        margin-left: 5%;
      }
    }
  }
}
ion-modal {
  --background: rgba(44, 39, 45, 0.2);
  &::part(content) {
    backdrop-filter: blur(4px);
  }
  ion-content {
    --background: transparent;
    --padding-top: 25vh;
    --padding-start: 20px;
    --padding-end: 20px;
  }
  ion-toolbar {
    --background: transparent;
  }
}
.searchBar {
  --border-radius: 12px;
  --box-shadow: rgb(179, 170, 170);
  --placeholder-color: #8b8a8a;
  --color: #0a0000;
  --background: #ebe8e8;
  padding-left: 7%;
  padding-right: 7%;
}
.content {
  background-color: rgb(248, 247, 247);

  .border-radius-bottom {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    // height: 100px;
  }
  ion-toolbar {
    --background: #198f0a;
    .avatar {
      height: 35px;
      width: 35px;
    }
  }

  .flex-bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
* {
}
.menu-header-bg {
  height: 180px;
  width: 350px;
  background: #198f0a;
  background: linear-gradient(99deg, #198f0a 0%, #198f0a 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  border-radius: 10px;
}
.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #4f9e4c;
    margin-right: 14px;
  }
  h2 {
    font-weight: 300;
    color: #ffffff;
  }
  p {
    font-size: 18px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
  }
}
.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: #86979f;
  }
  ion-item {
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .active {
    border-left: 5px solid;
    color: #198f0a;
    padding-left: 15px;
    ion-icon {
      color: #198f0a;
    }
  }
  .logout {
    margin-top: 242px;

    background: #198f0a;
  }
}
* {
}

.menu-header-bg2 {
  height: 180px;
  width: 350px;
  background: #198f0a;
  background: linear-gradient(99deg, #198f0a 0%, #198f0a 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  border-radius: 10px;
}
.header-content2 {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #74c26a;
    margin-right: 14px;
  }
  h2 {
    font-weight: 300;
    color: #ffffff;
  }
  p {
    font-size: 18px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
  }
}
.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: #86979f;
  }
  ion-item {
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .active {
    border-left: 5px solid;
    color: #198f0a;
    padding-left: 15px;
    ion-icon {
      color: #198f0a;
    }
  }
  .logout {
    margin-top: 242px;

    background: #198f0a;
  }
}
.menu {
  * {
  }
}
.badge {
  position: absolute;
  top: 4px;
  left: 28px;
}
.notif {
  position: absolute;
  top: 133px;
  left: 2px;
}
.notift {
  position: absolute;
  top: 549px;
  left: 89px;
}
