.content {
  background-color: rgb(248, 247, 247);

  .border-radius-bottom {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    // height: 100px;
  }
  ion-toolbar {
    --background: #3e64ff;
    .avatar {
      height: 35px;
      width: 35px;
    }
  }
  .flex-bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }
    h4 {
      font-weight: 600;
      font-size: 13px;
      color: darkgrey;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }

  h5 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
  .details {
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 1px;
    margin-top: 7%;
    margin-bottom: 10%;

    ion-icon {
      height: 15px;
      width: 15px;
    }
    ion-item {
      margin-left: 7%;
      margin-right: 7%;

      h3 {
        font-weight: 400;
        font-size: 15px;
        color: darkgrey;
        margin-left: 5%;
      }
    }
  }
}
ion-modal {
  --background: rgba(44, 39, 45, 0.2);
  &::part(content) {
    backdrop-filter: blur(4px);
  }
  ion-content {
    --background: transparent;
    --padding-top: 25vh;
    --padding-start: 20px;
    --padding-end: 20px;
  }
  ion-toolbar {
    --background: transparent;
  }
}
