<!-- pour l expert  home page -->

<ion-app class="content">
  <!-- <ion-header class="ion-no-border">
    <ion-toolbar class="border-radius-bottom">
      <div class="flex-bloc"></div>
    </ion-toolbar>
  </ion-header> -->
  <div class="menu">
    <ion-menu side="start" menuId="first" contentId="main" swipe-gesture="true">
      <ion-content>
        <div class="menu-header-bg"></div>
        <div class="header-content">
          <img src="{{ imagePath }}" />

          <ion-label>
            <h2>DR.{{ name }}</h2>
            <p>Expert Ophtalmologue</p>
          </ion-label>
        </div>
        <ion-list class="menu-items ion-margin" lines="none">
          <ion-item (click)="profil()">
            <ion-icon
              name="person-outline"
              class="active ion-padding"
            ></ion-icon>
            <ion-text>Profil</ion-text>
          </ion-item>

          <ion-item (click)="Historiques()">
            <ion-icon name="clipboard-outline" class="ion-padding"></ion-icon>
            <ion-text> Historiques</ion-text>
          </ion-item>
          <ion-item (click)="notification()">
            <ion-icon
              name="notifications-outline"
              class="ion-padding"
            ></ion-icon>
            <ion-badge
              *ngIf="nombreConsult !== 0"
              color="danger"
              class="badge"
              >{{ nombreConsult }}</ion-badge
            >
            <ion-text>notifications</ion-text>
          </ion-item>
          <ion-item (click)="statistique()">
            <ion-icon name="pie-chart-outline" class="ion-padding"></ion-icon>
            <ion-text>Statistique</ion-text>
          </ion-item>

          <ion-item (click)="parametre()">
            <ion-icon name="options-outline" class="ion-padding"></ion-icon
            ><ion-text>paramètres</ion-text>
          </ion-item>
          <ion-item class="logout" (click)="logout()">
            <ion-icon
              name="log-out-outline"
              class="ion-padding"
              color="primary2"
            ></ion-icon
            ><ion-text>Log out</ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </div>
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-header class="content ion-no-border">
    <ion-toolbar class="border-radius-bottom">
      <div class="flex-bloc">
        <ion-buttons slot="end">
          <ion-menu-button menu="first"></ion-menu-button>
          <ion-badge *ngIf="nombreConsult !== 0" color="danger" class="badge">{{
            nombreConsult
          }}</ion-badge>
        </ion-buttons>

        <ion-avatar slot="end" class="ion-margin avatar">
          <img src="{{ imagePath }}" />
        </ion-avatar>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding ion-margin" color="light">
    <div *ngIf="nombreConsult === 0">
      <img class="notif" src="assets/notif.jpg" />
      <ion-text class="notift">Vous n'avez aucune notification</ion-text>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- <ion-searchbar
      class="searchBar ion-padding"
      placeholder="cherchez un patient"
    ></ion-searchbar> -->
    <div *ngFor="let item of consultation">
      <ion-item-sliding
        [routerLink]="['/detailsnotif', item?.id, item?.patient?.cin]"
        id="item100"
      >
        <!-- *ngIf="
      item?.autoDetection?.avisExpert === null &&
      (item?.demandeAvisD !== 0 || item?.demandeAvisG !== 0)
    " -->
        <!-- mariemmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm na7iiiiiiiiiiiiiiiiiii diff k tzid post w put  -->
        <ion-item (click)="details()">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="assets/fatma.jpg" />
            </ion-avatar>
            <ion-label>
              <p>Docteur,</p>
              <h3>{{ item?.generaliste?.username }},</h3>
              <ion-text
                color="danger"
                style="font-weight: bold; font-size: 14px"
                >Demande Avis</ion-text
              >
            </ion-label>
          </ion-item>
          <ion-note slot="end">
            <ion-chip color="dark">
              <ion-label>
                <ion-icon color="dark" name="chatbox-outline"></ion-icon>
              </ion-label> </ion-chip
          ></ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-content>
</ion-app>
