<!-- pour l expert  -->
<ion-app class="content">
  <ion-header class="ion-no-border">
    <ion-toolbar class="border-radius-bottom">
      <div class="flex-bloc">
        <ion-buttons>
          <ion-back-button defaultHref="homeExpert"></ion-back-button>
        </ion-buttons>

        <ion-avatar slot="end" class="ion-margin avatar">
          <img src="assets/fatma.jpg" />
        </ion-avatar>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding ion-margin" color="light">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item-sliding id="item100">
      <ion-item (click)="details()">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/fatma.jpg" />
          </ion-avatar>
          <ion-label>
            <p>Docteur,</p>
            <h3>Meriem Chelli,</h3>
            <ion-text color="danger" style="font-weight: bold; font-size: 14px"
              >Demande Avis</ion-text
            >
          </ion-label>
        </ion-item>
        <ion-note slot="end">
          <ion-chip color="dark">
            <ion-label>
              <ion-icon color="dark" name="chatbox-outline"></ion-icon>
            </ion-label> </ion-chip
        ></ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding id="item100">
      <ion-item (click)="details()">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/mama.jpg" />
          </ion-avatar>
          <ion-label>
            <p>Docteur,</p>
            <h3>Meriem Chelli,</h3>
            <ion-text color="danger" style="font-weight: bold; font-size: 14px"
              >Demande Avis</ion-text
            >
          </ion-label>
        </ion-item>
        <ion-note slot="end">
          <ion-chip color="dark">
            <ion-label>
              <ion-icon color="dark" name="notifications-outline"></ion-icon>
            </ion-label> </ion-chip
        ></ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding id="item100">
      <ion-item (click)="details()">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/mer.jpg" />
          </ion-avatar>
          <ion-label>
            <p>Docteur,</p>
            <h3>Meriem Chelli,</h3>
            <ion-text color="danger" style="font-weight: bold; font-size: 14px"
              >Demande Avis</ion-text
            >
          </ion-label>
        </ion-item>
        <ion-note slot="end">
          <ion-chip color="dark">
            <ion-label>
              <ion-icon color="dark" name="notifications-outline"></ion-icon>
            </ion-label> </ion-chip
        ></ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding id="item100">
      <ion-item (click)="details()">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/123.jpg" />
          </ion-avatar>
          <ion-label>
            <p>Docteur,</p>
            <h3>Meriem Chelli,</h3>
            <ion-text color="danger" style="font-weight: bold; font-size: 14px"
              >Demande Avis</ion-text
            >
          </ion-label>
        </ion-item>
        <ion-note slot="end">
          <ion-chip color="dark">
            <ion-label>
              <ion-icon color="dark" name="notifications-outline"></ion-icon>
            </ion-label> </ion-chip
        ></ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding id="item100">
      <ion-item (click)="details()">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/123.jpg" />
          </ion-avatar>
          <ion-label>
            <p>Docteur,</p>
            <h3>Meriem Chelli,</h3>
            <ion-text color="danger" style="font-weight: bold; font-size: 14px"
              >Demande Avis</ion-text
            >
          </ion-label>
        </ion-item>
        <ion-note slot="end">
          <ion-chip color="dark">
            <ion-label>
              <ion-icon color="dark" name="notifications-outline"></ion-icon>
            </ion-label> </ion-chip
        ></ion-note>
      </ion-item>

      <ion-item-options side="end" color="primary">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding id="item100">
      <ion-item (click)="details()">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/123.jpg" />
          </ion-avatar>
          <ion-label>
            <p>Docteur,</p>
            <h3>Meriem Chelli,</h3>
            <ion-text color="danger" style="font-weight: bold; font-size: 14px"
              >Demande Avis</ion-text
            >
          </ion-label>
        </ion-item>
        <ion-note slot="end">
          <ion-chip color="dark">
            <ion-label>
              <ion-icon color="dark" name="notifications-outline"></ion-icon>
            </ion-label> </ion-chip
        ></ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-content>
</ion-app>
