<ion-header>
  <ion-toolbar
    color="primary"
    style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px"
  ></ion-toolbar>
</ion-header>
<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Welcome Doctor !</h1>
      <p>Login</p>
    </div>
    <div class="login-form ion-padding">
      <form (ngSubmit)="login(f1)" #f1="ngForm">
        <div class="form-input">
          <ion-icon color="primary" name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating"> nom d'utilisateur</ion-label>
            <ion-input
              type="text"
              id="username"
              ngModel
              name="username"
              #username="ngModel"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="username.invalid && username.touched"></div>
        </div>
        <div class="form-input">
          <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input
              type="password"
              id="password"
              ngModel
              name="password"
              #password="ngModel"
              required
              maxlength="10"
            ></ion-input>
          </ion-item>
          <div *ngIf="password.invalid && password.touched"></div>
        </div>

        <ion-item lines="none" id="open-modal"
          ><ion-router-link slot="end"
            >mot de passe oubliè?</ion-router-link
          ></ion-item
        >
        <ion-modal trigger="open-modal" mode="md">
          <ng-template>
            <ion-content>
              <ion-card>
                <ion-item>
                  <p class="ion-padding instruction">Instruction envoyées</p>
                </ion-item>
                <ion-item>
                  <ion-text class="ion-padding">
                    Nous t'avons envoyé des instructions pour changer ton mot de
                    passe à l'adresse "ss@gmail.com" . Consulte ta boite de
                    réception et tes courriers indésirables pour les retrouver
                  </ion-text>
                </ion-item>
                <ion-button expand="block" (click)="dismiss()">OK</ion-button>
              </ion-card>
            </ion-content>
          </ng-template>
        </ion-modal>

        <br />

        <div class="action-buttons ion-padding">
          <ion-button
            size="medium"
            shape="round"
            class="login-button"
            type="submit"
            [disabled]="!f1.valid"
            >Se Connecter</ion-button
          >
          <ion-button
            color="gris"
            size="medium"
            fill="outline"
            shape="round"
            class="login-button"
            routerLink="/signup"
            >S'inscrire</ion-button
          >
          <!-- <ion-button
        class="signup-button"
        size="large"
        fill="outline"
        shape="round"
        routerLink=""
        ><img src="https://img.icons8.com/fluency/35/000000/facebook-new.png" />
      </ion-button>
      <ion-button
        class="signup-button"
        size="large"
        fill="outline"
        shape="round"
        routerLink=""
        ><img src="https://img.icons8.com/color/35/000000/gmail-new.png" />
      </ion-button> -->
        </div>
      </form>
    </div>
  </div>
</ion-content>
