<ion-header no-border>
  <ion-toolbar
    color="primary"
    style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px"
  >
    <ion-buttons>
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Welcome Doctor !</h1>
      <p>S'inscrire</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon color="primary" name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Nom & prenom </ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon color="primary" name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Adresse e-mail</ion-label>
          <ion-input
            type="email"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          ></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" required maxlength="10"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Confirmer mot de passe</ion-label>
          <ion-input type="password" required maxlength="10"></ion-input>
        </ion-item>
      </div>

      <ion-item>
        <ion-label>Choisissez votre spécialité</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="nes">Médecin généraliste</ion-select-option>
          <ion-select-option value="n64"
            >Expert Ophtalmologue</ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>

    <ion-item lines="none">
      <ion-text
        >Justificatif de votre statut de professionel de santé
      </ion-text>

      <ion-button color="gris" slot="end" class="signup-button">
        Parcourir...
      </ion-button>
    </ion-item>
    <br />
    <div class="action-buttons ion-padding">
      <ion-button
        size="medium"
        fill="outline"
        shape="round"
        class="login-button"
        routerLink="/login"
        >Valider</ion-button
      >
      <br /><br />
      <!-- <ion-button
        class="signup-button"
        size="large"
        fill="outline"
        shape="round"
        routerLink=""
        ><img src="https://img.icons8.com/fluency/35/000000/facebook-new.png" />
      </ion-button>
      <ion-button
        class="signup-button"
        size="large"
        fill="outline"
        shape="round"
        routerLink=""
        ><img src="https://img.icons8.com/color/35/000000/gmail-new.png" />
      </ion-button> -->

      <ion-text>Vous avez déjà un compte ?</ion-text
      ><a routerLink="/signup">cliquez ici</a>
    </div>
  </div>
</ion-content>
