<form #f="ngForm">
  <ion-card class="cardfull">
    <swiper [config]="config" class="swiper-slide" data-swiper-autoplay="2000">
      <ng-template swiperSlide *ngFor="let imge of images; let i = index">
        <img
          [src]="imge"
          onerror="this.src='assets/add.jpg'"
          alt="alternative"
          tappable
          (click)="openPreview(imge)"
        />
      </ng-template>
    </swiper>
  </ion-card>

  <div class="details">
    <h4>AI Résultat Oeil Gauche</h4>

    <h6>
      <ion-text color="danger">Maladie : </ion-text>
      diabète
    </h6>
    <ion-text color="danger">Gravitè :</ion-text>
    1
  </div>

  <div class="avis ion-padding ion-margin">
    <div>
      <ion-label class="avisExpert ion-margin"
        >Donnez un avis oeil Gauche</ion-label
      >
    </div>
    <div class="ion-margin">
      <!-- <ion-item lines="none"
        ><ion-text>Saine</ion-text>
        <ion-radio-group
          id="saineG"
          ngModel
          name="saineG"
          #saine="ngModel"
          slot="end"
          allow-empty-selection="true"
          (ionChange)="change($event)"
        >
          <ion-item lines="none">
            <ion-radio
              slot="end"
              color="primary2"
              value="saine"
            ></ion-radio> </ion-item
        ></ion-radio-group>
      </ion-item> -->
      <br />
      <ion-item class="itemborder">
        <ion-label class="comments">choisissez une maladie</ion-label>
        <ion-select
          id="maladieGauche"
          ngModel
          name="maladieGauche"
          #maladieDroite
          interface="popover"
          [(ngModel)]="selected_maladie"
          (ionChange)="choose()"
        >
          <ion-select-option
            *ngFor="let item of maladie"
            value="{{ item?.valeur }}"
            >{{ item?.nom }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="itemborder" lines="none">
        <ion-label class="comments">Gravité</ion-label>
        <ion-select
          interface="popover"
          id="graviteGauche"
          ngModel
          name="graviteGauche"
          #graviteGauche
        >
          <ion-select-option *ngFor="let item of gravite">{{
            item?.valeur
          }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-item class="itemborder">
      <ion-item lines="none">
        <ion-textarea
          placeholder="ajouter un commentaire..."
          id="commentaireGauche"
          ngModel
          name="commentaireGauche"
          #commentaireGauche
        >
        </ion-textarea>
      </ion-item>
    </ion-item>
  </div>
  <div class="div">
    <ion-button
      #btn
      *ngIf="consultation?.autoDetection?.avisExpert?.maladieGauche === null"
      color="primary2"
      size="Medium"
      class="ion-margin"
      (click)="truthClick(f); btn.disabled = true"
      [disabled]="choixMaladie === null"
      >valider
    </ion-button>
    <ion-button
      *ngIf="consultation?.autoDetection?.avisExpert?.maladieGauche !== null"
      color="danger"
      size="Medium"
      class="ion-margin"
      (click)="truthClick(f)"
      disabled="true"
      >Avis déja ajouté
    </ion-button>
    <!-- [disabled]="disableButton || choixMaladie === null" -->
  </div>
</form>

<!-- <ion-modal trigger="trigger-button">
  <ng-template>
    <ion-header>
      <ion-icon
        name="close-outline"
        (click)="dismissModal()"
        class="closeModel"
      ></ion-icon>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-padding">
            <ion-text color="white" class="evaluer"
              >veuillez évaluer la consultation avec AI Model</ion-text
            >
          </ion-col>

          <ion-col size="12" class="ion-padding">
            <app-stars-rating
              (shareRatingValue)="showRating($event)"
              class="starsModel"
            ></app-stars-rating
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-item lines="none">
      <ion-fab-button
        size="small"
        slot="end"
        id="trigger-button1"
        color="danger"
      >
        <ion-icon name="alert-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ng-template> -->
<!-- </ion-modal> -->
