<ion-app class="content">
  <ion-header class="ion-no-border">
    <ion-toolbar class="border-radius-bottom">
      <div class="flex-bloc">
        <ion-buttons slot="start">
          <ion-header [translucent]="true">
            <ion-toolbar>
              <ion-buttons>
                <ion-back-button defaultHref="homeExpert"></ion-back-button>
              </ion-buttons> </ion-toolbar
          ></ion-header>
        </ion-buttons>
        <h4 style="color: white">historiques</h4>

        <ion-avatar slot="end" class="ion-margin avatar">
          <img src="assets/doctour.png" />
        </ion-avatar>
      </div>
    </ion-toolbar>
    <ion-searchbar
      class="searchBar ion-padding"
      placeholder="cherchez un patient"
    ></ion-searchbar>
  </ion-header>

  <ion-content>
    <div *ngFor="let item of Consultation">
      <ion-card *ngIf="item?.demandeAvis === 1">
        <img class="image" src="assets/6.jpg" />

        <ion-item lines="none">
          <!-- <ion-col class="ion-margin"> -->
          <ion-text slot="end" color="gris">Consultation assitée par :</ion-text
          ><ion-text slot="end" color="primary2"
            >Dr, {{ item.generaliste?.username }}
          </ion-text>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>Patient,</ion-card-subtitle>

          <ion-card-title>{{ item.patient?.username }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <ion-text color="primary2">Antécèdant :</ion-text>
            {{ item.patient?.antecedant }}
          </div>
          <div>
            <ion-text color="primary2">Date de Naissance :</ion-text>
            {{ item.patient?.dateNaiss }}
          </div>
          <br />
          <ion-col>
            <div class="date">
              <ion-icon name="calendar-outline" class="calendar"> </ion-icon>
              {{ item.dateConsult }}
            </div>
          </ion-col>
          <ion-col class="flex-bloc">
            <div>
              <ion-icon name="ellipse-sharp" color="success"></ion-icon>
            </div>

            <div class="details">
              <ion-button
                color="primary2"
                slot="start"
                fill="outline"
                shape="round"
                (click)="openDetail()"
                >Details</ion-button
              >
            </div>
          </ion-col>
        </ion-card-content>

        <app-stars-rating
          (shareRatingValue)="showRating($event)"
        ></app-stars-rating>
        <br />

        <h4 *ngIf="currentRatingValue">
          <!-- The value selected from the stars component is
        <h2>{{ currentRatingValue }}</h2> -->
        </h4>
      </ion-card>
    </div>
  </ion-content></ion-app
>
