<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar
      color="favorite"
      style="border-bottom-left-radius: 22px; border-bottom-right-radius: 22px"
      ><ion-buttons>
        <ion-button class="bordered" fill="solid" color="light">
          <ion-icon name="arrow-back-outline"></ion-icon
        ></ion-button>
      </ion-buttons>
      <div class="image-cropper">
        <img src="https://via.placeholder.com/150" class="rounded" />
      </div>
      <br />
      <ion-item lines="none" style="border-radius: 15px">
        <ion-label
          ><ion-text color="new2">choisissez un patient</ion-text>
        </ion-label>
        <ionic-selectable
          [(ngModel)]="selected_users"
          [items]="users"
          itemValueField="id"
          itemTextField="name"
          lines="none"
          style="border-radius: 15px"
        >
          <ng-template ionicSelectableHeaderTemplate>
            <div class="class">
              <ion-buttons>
                <ion-button class="bordered" fill="solid" color="light">
                  <ion-icon name="arrow-back-outline"></ion-icon
                ></ion-button>
              </ion-buttons>
              <ion-searchbar
                color="light"
                class="cancel-button-icon"
                placeholder="cherchez un patient"
                style="border-radius: 111px"
                lines="none"
                b
              ></ion-searchbar>
            </div>
          </ng-template>
        </ionic-selectable>
      </ion-item>
      <br />
      <br />
    </ion-toolbar>
    <br />
    <ion-segment
      [(ngModel)]="segment"
      style="border-radius: 30px"
      color="primary"
      size="small"
    >
      <ion-segment-button value="all"
        ><ion-icon name="eye-outline" color="favorites"></ion-icon
        ><ion-text color="favorites"> Oeil Droite</ion-text>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-icon name="eye-outline" color="favorites"></ion-icon>
        <ion-text color="favorites"> Oeil Gauche</ion-text></ion-segment-button
      > </ion-segment
    ><br />
  </ion-header>

  <ion-content>
    <div class="ajouterdelet">
      <ion-button fill="outline" color="success">+</ion-button>
      <ion-button fill="outline" color="danger">-</ion-button>
    </div>
    <ion-card>
      <swiper [config]="config">
        <ng-template swiperSlide *ngFor="let img of[1,2,3,4]">
          <img src="assets/{{img}}.jpg" tappable (click)="openPreview(img)" />
        </ng-template>
      </swiper>
    </ion-card>
  </ion-content>
</ion-app>
