<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <p><ion-title>Statistique</ion-title></p>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="ion-padding ion-margin">
      <ion-card-header> </ion-card-header>
      <ion-card-content>
        <canvas
          #lineCanvas
          style="position: relative; height: 20vh; width: 40vw"
        ></canvas>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
