<ion-app class="content">
  <div class="header">
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid" color="light">
        <ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
      ion-button
      fill="solid"
      color="light"
      (click)="ConsultationMedService.ajouter_patient()"
    >
      <ion-icon name="person-add-outline" color="dark"></ion-icon
    ></ion-button>
    </ion-buttons>
  </ion-toolbar>
    <h5 class="listepatient">Liste des patients</h5>
    <ion-searchbar
      class="searchBar"
      placeholder="cherchez un patient"
    ></ion-searchbar>
  </div>
  <ion-content class="contenue">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of ConsultationMedService.users">
          <div class="image-card">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-img class="image" [src]="item.url"></ion-img>
                  <ion-text class="name">{{ item.name }}</ion-text>
                </ion-col>
              </ion-row>
             <a [routerLink]="['home']"></a
                ><ion-text color="primary" class="consultation"
                  >Consultations</ion-text
                >

            </ion-grid>
          </div>
        </ion-col></ion-row
      >
    </ion-grid>
  </ion-content>
  <!-- <h4>Liste Patient</h4>
    <div class="avatar">
      <ion-img src="assets\fatma.jpg"></ion-img>
    </div>
  <ion-searchbar></ion-searchbar>
  <div class="patient">
    <ion-item *ngFor="let item of ConsultationMedService.users"> </ion-item>
  </div>
</ion-content> -->
  <!-- </ion-item></ion-content
    ></ion-app -->
  <!-- ></ion-content -->
</ion-app>
